@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #313131;
  color: #fff;
}

h3 {
  font-size: 32px;
  color: #36a82c;
}

span {
  font-weight: 700;
}

input,
button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
}

input {
  margin-right: 5px;
  padding: 15px;
  border-radius: 5px;
  max-width: 120px;
  background-color: rgb(209, 209, 209);
  color: rgb(0, 0, 0);
  font-weight: 700;
  transition: 0.5s;
}

input:focus {
  background-color: rgb(189, 189, 189);
}

button {
  background-image: linear-gradient(to left, #f58634, #ffcc29, #00af91);
  background-size: 200%;
  background-position: 0%;
  padding: 15px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  background-position: 100% 0%;
}

form {
  padding: 5px;
  background-color: white;
  z-index: 1;
  border-radius: 12px;
  background-image: linear-gradient(
    to bottom right,
    #61b15a,
    #adce74,
    #fff76a,
    #ffce89
  );
}

.form-group {
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
  padding: 45px 30px;
  color: #000;
  min-height: 280px;
}

.form-group p {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 700;
}

.form-group p.red {
  color: red;
}

.form-group p.green {
  color: #36a82c;
}

@media screen and (max-width: 420px) {
  button {
    margin-top: -15px;
  }
}
